@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-2">
        <h2>Diagram BD</h2>
    </div>
    <div class="col-md-8">
        <img src="~/Content/img/DiagramSanaCommerce.png" />
    </div>
</div>